@media (min-width: 992px) {
	.header {
		background-image: url('/img/city-bg-mini.jpg');
		.hero-text {
			font-size: 3.5rem;
		}
		.svg-header {
			position: absolute;
			bottom: -0.5em;
			height: 35%;
			width: 100%;
			transform: rotate(180deg);
			overflow: hidden;
		}
	}
}
