// large.
@media (min-width: 992px) {
	.header {
		background-image: url('../img/LogobanerVENTI2.png');
		.hero-text {
			font-size: 3.5rem;
		}
		.svg-header {
			height: 17%;
		}
	}
	.about-me {
		.about-me-text {
			font-size: 4rem;
		}
	}
	.section-heading {
		font-size: 5rem;
	}
}
