@import './colors';
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(240, 240, 240);
	font-family: 'Karla', sans-serif;
}

@import './large';
@import './medium';
@import './small';
